body {
    padding-right: 0 !important;
}

.margin-5-0 {
    margin:5px 0px;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-7p {
    margin-top: 7%;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom--10 {
    margin-bottom: -10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.width-100p {
    width: 100%;
}

.width-90p {
    width: 90%;
}

.width-50p {
    width: 50%;
}

.width-40p {
    width: 40%;
}

.width-20p {
    width: 20%;
}

.width-13p {
    width: 13%;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px !important;
}

.width-200 {
    width: 200px;
}

.height-28 {
    height: 28px;
}

.height-34 {
    height: 34px !important;
}

.height-40 {
    height: 40px;
}

.height-51 {
    height: 51px;
}

.height-75 {
    height: 75px;
}

.height-20vmin {
    height: 20vmin;
}

.height-30vmin {
    height: 30vmin;
}

.height-35vmin {
    height: 35vmin;
}

.height-39vmin {
    height: 39vmin;
}

.height-40vmin {
    height: 40vmin;
}

.height-45vmin {
    height: 45vmin;
}

.height-50vmin {
    height: 50vmin;
}

.height-60vmin {
    height: 60vmin;
}

.height-80vmin {
    height: 80vmin;
}

.min-height-64vmin {
    min-height: 64vmin;
}

.min-height-69vmin {
    min-height: 69vmin;
}

.min-height-70vmin {
    min-height: 70vmin;
}

.min-height-74vmin {
    min-height: 74vmin;
}

.min-height-80vmin {
    min-height: 80vmin;
}

.min-height-340 {
    min-height: 340px;
}

.min-height-294 {
    min-height: 294px;
}

.min-height-270 {
    min-height: 270px;
}

.max-height-500 {
    max-height: 500px;
}

.txt_line {
    width: 500px;
    overflow:hidden;
    white-space:nowrap;
    word-wrap:normal;
}

.list-style-none {
    list-style:none;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-16p {
    padding-top: 16%;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-17 {
    padding-top: 17px !important;
}

.padding-top-18 {
    padding-top: 18px !important;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-17 {
    padding-bottom: 17px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-right-50 {
    padding-right: 50px !important;
}

.padding-20-30 {
    padding: 20px 30px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-color-black {
    color: #333333;
}

.text-bold {
    text-weight: bold;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-datatabls {
    font-size: 15px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-weight-100 {
    font-weight: 100;
}

.font-color-red {
    color: #e50101;
}

.font-color-blue {
    color: #2196f3;
}

.font-color-primary {
    color: #367fa9;
}

.rightBar {
    position: fixed;
    top: 30%;
    right: 0px;
    z-index: 100000000000;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

.right-300 {
    right: 300px;
}

.pointer {
    cursor: pointer;
}

.control-sidebar-bg {
    width: 300px;
    right: -300px;
}

.control-sidebar {
    right: -300px;
}

.background-color-f9f9f9 {
    background-color: #f9f9f9;
}

.background-color-yellow {
    background-color: yellow;
}

.border-line-c7c7c7 {
    border: 1px solid #c7c7c7;
}

.div-scroll {
    overflow:auto;
}

.display-none {
    display:none;
}

.border-default {
    border: 2px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.border-green {
    border: 2px solid #00acac !important;
    border-radius: 4px 4px 0 0;
}

.border-blue {
    border: 2px solid #348fe2 !important;
    border-radius: 4px 4px 0 0;
}

.border-purple {
    border: 2px solid #727cb6 !important;
    border-radius: 4px 4px 0 0;
}

.border-black {
    border: 2px solid #2d353c !important;
    border-radius: 4px 4px 0 0;
}

.border-yellow {
    border: 2px solid #f39c12 !important;
    border-radius: 4px 4px 0 0;
}

.border-red {
    border: 2px solid #dd4b39 !important;
    border-radius: 4px 4px 0 0;
}

.border-red {
    border: 1px solid red;
}

.select-background {
    background-color: #d9e0e7;
}

.ho-table-border {
    border: 1px solid #d9e0e7;
}

.ho-table-border > thead > tr > th,
.ho-table-border > tbody > tr > th,
.ho-table-border > tfoot > tr > th,
.ho-table-border > thead > tr > td,
.ho-table-border > tbody > tr > td,
.ho-table-border > tfoot > tr > td {
    border: 1px solid #d9e0e7;
}

#gridMySaveList > tbody > tr,
#gridRequestList > tbody > tr {
    cursor:pointer;
}

table > thead > tr > th {
    vertical-align: middle !important;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

.word-break-break-all {
    word-break:break-all;
}

.vertical-align-middle {
    vertical-align:middle !important;
}


/**bootstrap 겹치기***************************************************/
.input-sm {
    padding: 5px 5px;
}

select.input-sm {
    height: 34px;
}

body {
    font-size: 15px;
}

.logo {
    height: 55px !important;
    line-height : 55px !important;
}

.nav-tabs-custom {
    margin-bottom: 0px !important;
    box-shadow : 0 0px 0px #fff !important;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background: #181f23;
    color: #b8c7ce;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a {
    background: #fdfdfd;
    color: #181f23;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a {
    border-left-color: #181f23;
    border-bottom-color: #fdfdfd;
}


.box-header {
    background-color: #242a30;
    color: #fff;
}


.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    font-size: 14px;
}

.main-header .sidebar-toggle {
    padding: 17px 15px;
}

.bg-green, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background: #00acac !important;
}

.bg-blue, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background: #348fe2 !important;
}

.bg-purple, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background: #727cb6 !important;
}

.bg-black, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background: #2d353c !important;
}

.content-wrapper, .right-side {
    background-color: #d9e0e7;
}

.nav-tabs-custom > .nav-tabs > li.active {
    background: #00acac !important;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #00acac !important;
}

.skin-black .sidebar-menu>li.active>a {
    background: #00acac;
}

.skin-black {
    background: #d9e0e7;
}

.box {
    border: 1px solid #d2d6de;
}

.box-header > .box-tools {
    top: 9px;
}

.btn.btn-success {
    background: #00acac;
    border-color: #00acac;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .open .dropdown-toggle.btn-success {
    background: #008a8a;
    border-color: #008a8a;
}

.login-box {
    margin: 20px auto;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 80px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.required th {
    font-weight: bold;
}

.required th:after {
    color: #e32;
    content: ' *';
    display:inline;
}


.search th {
    font-weight: bold;
    text-align: center;
}

@media (min-width: 992px)
    .modal-xl {
        width: 1200px !important;
    }

    .breadcrumb>li+li:before {
        color: #444;
    }

    .breadcrumb>.active {
        color: #444;
    }

    .login-box, .register-box {
        width: 400px;
    }

    .modal-header {
        background-color: #F6F5F5;
    }



    /**jqx css*********************************************/
    .jqx-widget {
        font-size: 15px;
    }

    .jqx-widget-content {
        font-size: 15px;
        /*font-family: 'Source Sans Pro', sans-serif;*/
    }

    .gridCellLink {
        font-size: 15px;
        font-weight:bold;
        color:#1b7e5a;
        cursor:pointer;
    }

    .green {
        background-color: #b6ff00;

    }

    /**datatables css*********************************************/
    tfoot {
        display: table-header-group;
    }
    .dataTables_filter {
        display:none;
    }
    li {
        font-size:14px;
    }
    .dataTables_empty {
        height:167px;
    }

    .dataTables_scrollBody {
        border-bottom: 0px !important;
    }

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #f4f4f4;
    }

    .dt-body-center{
        text-align: center;
    }
    .dt-body-right{
        text-align: right;
    }

    /*스크롤*/
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }



    /**colorAdmin css*********************************************/
    .widget.widget-stats {
        position: relative;
    }

    .widget {
        border-radius: 3px;
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        overflow: hidden;
    }

    .widget-stats .stats-icon.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
    }

    .widget-stats .stats-icon {
        font-size: 42px;
        height: 56px;
        width: 56px;
        text-align: center;
        line-height: 56px;
        margin-left: 15px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: 0.2;
    }

    .widget-stats .stats-title, .widget-stats .stats-desc {
        color: rgba(255, 255, 255, 0.6);
    }

    .widget-stats .stats-title {
        position: relative;
        line-height: 1.1;
        font-size: 14px;
        margin: 2px 0 7px;
    }

    .widget-stats .stats-number {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .widget-stats .stats-progress {
        background: rgba(0, 0, 0, 0.2);
        height: 2px;
        margin: 0 -15px 12px;
    }

    .progress {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #e2e7eb;
    }

    .widget-stats .stats-desc {
        font-weight: 300;
        margin-bottom: 0;
    }

    .progress-bar {
        /*background-color: #fff;*/
    }

    .progress-bar-white {
        background-color: #fff;
    }


    /** select2  ****************************************/
    .select2-container .select2-selection--single {
        height: 34px !important;
    }


    /** file input  ****************************************/
    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .image-preview-filename {
        height: 36px;
    }

    /** bootstrap dialog  ****************************************/
    .size-wide > div {
        width : 90%;
    }

